.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-title{
  display: flex;
  padding: 8px;
  color: blue;
  font-size:20px ;

  
}
.navbar-links{
  display: flex;
  padding: 8px;
  gap:32px;
  
  
}
.navbar-link{
  text-decoration: none;


}

li{
  list-style: none;
}