.footer{
  background-color: rgb(85, 85, 238);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.footer-company{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.social-media{
  margin-top: none;
  
display: flex ;
gap:5px;
  color: white;
  
}
.icon-p{
  padding: 4px;
  background-color: white;
  border-radius: 50%;
  color:rgb(85, 85, 238);
}
