.middle{
  display: flex;
  justify-content: space-between;
  background-color: white;
  
  margin-bottom: 20px;
  align-items: center;
  padding:20px 15px;
}
h1{
  color: blue;
  padding-bottom: 0;
}
p{
  padding-top: 5px;
}
.middle-button{
  padding-right: 200px;
}
button{
  padding:10px;
  border-radius: 5px;
  color: blue;
  border-color: blue;
}